
*.o
*.o
*.map
*.pbi
*.xcl
*.pbd
*.browse
*.linf
*.pbw
source/example/project/iar/.metadata/.lock
source/example/project/iar/.metadata/.log
*.version
*.tree
*.resources
*.prefs
*.ini
*.xml
*.xmi
*.log
*.bat
*.ps1
*.crun
*.dbgdt
*.dnx
*.wsdt
*.dep
*.ewt
*.d
*.lst
*.gabwan01
*.axf
*.hex
*.htm
*.lnp
*.iex
*.__i
*._ll
*.out
Backup*

*.tmp
*._ia
*.i
source/example/project/iar/.metadata/.lock
*.elf
*.elf
*.sim
source/example/project/iar/kernel_lib/*.a
source/example/project/iar/kernel_lib_armv7m/Exe/*.a
*.reggroups
