[submodule "btstack"]
	path = source/component/3rd-party/btstack/raw
	url = ../btstack
[submodule "coremark"]
	path = source/component/3rd-party/coremark/raw
	url = ../coremark
[submodule "freetype"]
	path = source/component/3rd-party/freetype/raw
	url = ../freetype
[submodule "zlib"]
	path = source/component/3rd-party/zlib/raw
	url = ../zlib
[submodule "nnom"]
	path = source/component/3rd-party/nnom/raw
	url = ../nnom
[submodule "lua"]
	path = source/component/3rd-party/lua/raw
	url = ../lua
[submodule "lwip"]
	path = source/component/3rd-party/lwip/raw
	url = ../lwip
[submodule "libpng"]
	path = source/component/3rd-party/libpng/raw
	url = ../libpng
[submodule "libjpeg-turbo"]
	path = source/component/3rd-party/libjpeg-turbo/raw
	url = ../libjpeg-turbo
[submodule "SDL_ttf"]
	path = source/shell/media/sdl2/3rd-party/SDL_ttf
	url = ../SDL_ttf
[submodule "SDL_image"]
	path = source/shell/media/sdl2/3rd-party/SDL_image
	url = ../SDL_image
[submodule "lv_lib_freetype"]
	path = source/component/3rd-party/lvgl/extension/lv_lib_freetype/raw
	url = ../lv_lib_freetype
[submodule "lvgl"]
	path = source/component/3rd-party/lvgl/raw/lvgl
	url = ../lvgl
[submodule "source/utilities/3rd-party/PLOOC/raw"]
	path = source/utilities/3rd-party/PLOOC/raw
	url = ../PLOOC
[submodule "source/component/3rd-party/mbedtls/raw"]
	path = source/component/3rd-party/mbedtls/raw
	url = ../mbedtls
[submodule "source/hal/driver/AIC/AIC8800/vendor"]
	path = source/hal/driver/AIC/AIC8800/vendor
	url = ../AIC8800M_SDK_vsf
[submodule "source/component/3rd-party/littlefs/raw"]
	path = source/component/3rd-party/littlefs/raw
	url = ../littlefs
[submodule "source/shell/media/sdl2/3rd-party/SDL_net"]
	path = source/shell/media/sdl2/3rd-party/SDL_net
	url = ../SDL_net
[submodule "source/shell/media/sdl2/3rd-party/SDL_mixer"]
	path = source/shell/media/sdl2/3rd-party/SDL_mixer
	url = ../SDL_mixer
[submodule "source/shell/sys/linux/lib/3rd-party/libtuv/raw"]
	path = source/shell/sys/linux/lib/3rd-party/libtuv/raw
	url = ../libtuv
[submodule "source/shell/sys/luatos/raw"]
	path = source/shell/sys/luatos/raw
	url = ../LuatOS
[submodule "source/component/3rd-party/qrcode/raw"]
	path = source/component/3rd-party/qrcode/raw
	url = ../QRCode
[submodule "source/hal/driver/ST/STM32H7RSXX/common/vendor/cmsis_device_h7rs"]
	path = source/hal/driver/ST/STM32H7RSXX/common/vendor/cmsis_device_h7rs
	url = https://github.com/STMicroelectronics/cmsis_device_h7rs
[submodule "source/hal/driver/ST/STM32H7XX/common/vendor/cmsis_device_h7"]
	path = source/hal/driver/ST/STM32H7XX/common/vendor/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7
[submodule "source/hal/driver/Artery/AT32F40X/common/vendor"]
	path = source/hal/driver/Artery/AT32F40X/common/vendor
	url = https://github.com/ArteryTek/AT32F402_405_Firmware_Library.git
